<% layout("/layouts/boilerplate.ejs") %>

<body>
    <h3>All Listings</h3>
    <!-- <form method="get" action="/listings/new">
        <button>Create new Listing</button>
    </form> -->
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-3"> <!--using this row-cols making website responsive to cards-->
        <% for(let listing of allListings) { %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class="card col"> 
                    <img src="<%=listing.image%>" class="card-img-top" alt="listing-img">
                    <div class="card-img-overlay"></div> 
                    <div class="card-body">
                        <p class="card-title"> 
                            <b><%= listing.title %></b> <br>
                            &#8377; <%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %>/night
                        </p>
                    </div>
                </div>
            </a> 
              <% } %>
    </div>
</body>
