<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is a templet we created </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates saepe laboriosam magni distinctio obcaecati libero perspiciatis, dolore sint ipsum tenetur quia enim, animi, adipisci itaque quod hic fugiat sed? A.</p>
    <button>Click here!</button>

</body>
</html>