<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All users</title>
    <style>
        table,th,td,tr{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Id</th>
            <th>email</th>
            <th>username</th>
        </tr>
        <% for(user of users) { %>
                <tr>
                    <td><%=user.id%></td>
                    <td><%=user.email%></td>
                    <td><%=user.username%></td>
                    <td>
                        <form method="get" action="/user/<%= user.id %>/edit"> <!--every time we get a different form by diff id of users-->
                            <button>Edit username</button>
                        </form>
                    </td>
                </tr>
        <% } %>
    </table>
    
   
</body>
</html>