<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new form</title>
</head>
<body>
    <form method="post" action="/posts">
        <label for="user">Username:</label><br>
        <input id="user" name="username" type="text"> <br><br>
        <label for="content">Content:</label><br>
        <textarea id="content" name="content"></textarea>
        <button>Add post!</button>
    </form>
</body>
</html>